@import '../../variable';

.lesson-info {
  margin-bottom: 50px;
  padding-bottom: 20px;
  font-size: 20px;

  &__container {
    width: 100%;
    margin: 0 auto;
  }

  &__top {
    width: 100%;
    @include flex(space-evenly, center);
    margin-bottom: 20px;
  }

  &__description {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;

    h2 {
      color: $c-yellow;
    }

    p {
      font-size: 16px;
      color: rgb(0, 255, 94);
    }
  }

  h5 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__type {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__link {
    padding: 8px 10px;
    font-size: 24px;
    font-style: italic;
    color: aqua;
    

    &:hover {
      color: rgb(0, 255, 94);
      transition: color .4s ease-in-out;
      border-radius: 6px;
      box-shadow: 0 2px 5px rgba($color: #000000, $alpha: .4);
    }
  }

  ul {
    list-style: none;
    margin-bottom: 25px;

    li {
      margin-bottom: 10px;
    }
  }
}